Teste_3/fabrica-de-videos.json
{
  "name": "Fabrica de Videos",
  "nodes": [
    {
      "parameters": {
        "content": "# 🎬 FÁBRICA DE VÍDEOS — LEIA PRIMEIRO\n\nCole um roteiro de Reels no formulário e receba o vídeo pronto (seu apresentador + legenda embutida) no WhatsApp.\n\n✅ ATIVAÇÃO (uma vez)\n1. Nó 'Prepara roteiro (IA)' → credencial OpenAI\n2. Nó 'Registra no banco' → credencial Postgres negocio\n3. Confira o nó Config: WhatsApp, chaves e evolutionInstance\n   (o nome EXATO da sua instância no manager da Evolution)\n4. No nó 'Formulario Fabrica', digite 'fabrica-de-videos' no\n   campo Form Path (o n8n troca por um código aleatório ao\n   importar — este passo devolve a URL fixa)\n5. Ligue a chave ACTIVE do workflow\n\n🔗 Formulário: https://workflows.axnconsult.com/form/fabrica-de-videos\n   (ou a Production URL exibida no nó do formulário)\n\n🖥️ O card 'Fábrica de Vídeos' do seu Painel de gestão envia\n   para POST https://workflows.axnconsult.com/webhook/fabrica-videos\n   — mesmo fluxo, e esse endereço NÃO muda na importação.\n\n💰 ~US$ 1 por vídeo de ~20s (crédito de API do HeyGen)\n⏱️ ~2 a 3 minutos por vídeo\n⚠️ O link do HeyGen expira em ~7 dias — o vídeo entregue no WhatsApp é seu para sempre.",
        "height": 640,
        "width": 380,
        "color": 4
      },
      "id": "sticky-guia",
      "name": "Guia de ativacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        40
      ]
    },
    {
      "parameters": {
        "content": "# ⏳ COMO A ESPERA FUNCIONA\n\nO formulário responde na hora; o vídeo continua sendo gerado em segundo plano.\nO HeyGen avisa quando termina (callback acorda o nó 'Espera o render').\nSe o aviso não vier, o fluxo confere o status sozinho a cada 90 segundos.\nSe o HeyGen recusar o pedido (quase sempre crédito de API zerado), você recebe o aviso no WhatsApp.",
        "height": 260,
        "width": 420,
        "color": 5
      },
      "id": "sticky-espera",
      "name": "Nota da espera",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        420
      ]
    },
    {
      "parameters": {
        "content": "# 🗓️ METRICOOL (OPCIONAL)\n\nSEM token: vídeo + legenda chegam no WhatsApp e você agenda manualmente no planner (qualquer plano).\n\nCOM token (plano Advanced): o fluxo copia o vídeo para o Metricool e cria um RASCUNHO para amanhã às 10h — revise, ajuste a data e confirme no planner.\n\nPreencha metricoolToken / metricoolUserId / metricoolBlogId no nó Config (ou nos campos do app antes de baixar este arquivo).",
        "height": 320,
        "width": 400,
        "color": 6
      },
      "id": "sticky-metricool",
      "name": "Nota do Metricool",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3240,
        -240
      ]
    },
    {
      "parameters": {
        "path": "fabrica-de-videos",
        "formTitle": "Fabrica de Videos",
        "formDescription": "Cole um roteiro de Reels/Shorts gerado na aba Marketing do seu painel (o bloco inteiro, do 🎬 ate a legenda). O video pronto chega no seu WhatsApp em ~3 minutos. Custo: ~US$ 1 do seu credito HeyGen.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Roteiro do video",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "🎬 REELS / SHORTS — [data] — [tema]  |  Fala 1: ...  Fala 2: ...  |  📝 Legenda: ..."
            }
          ]
        },
        "responseMode": "onReceived",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Gerar video"
        }
      },
      "id": "form-fabrica",
      "name": "Formulario Fabrica",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        200,
        40
      ],
      "webhookId": "fabrica-de-videos-form"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fabrica-videos",
        "responseMode": "onReceived",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-painel",
      "name": "Webhook Painel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        260
      ],
      "webhookId": "fabrica-videos-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza as duas origens: formulario n8n (teste da etapa) e card do Painel (webhook)\nconst j = $input.first().json;\nconst roteiro = String((j.body && j.body.roteiro) || j['Roteiro do video'] || '').trim();\nif (!roteiro) throw new Error('Roteiro vazio — cole o bloco completo gerado na aba Marketing do painel.');\nreturn [{ json: { roteiro } }];"
      },
      "id": "entrada-fabrica",
      "name": "Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "heygenApiKey",
              "type": "string",
              "value": "sk_V2_hgu_kW9Td8GtJ4Y_DqI9B45jkoZRXALcocuiiuF0IrmnP63J"
            },
            {
              "id": "cfg-2",
              "name": "heygenAvatarId",
              "type": "string",
              "value": "f5c6986bebd14deab71f1182771c57b9"
            },
            {
              "id": "cfg-3",
              "name": "heygenVoiceId",
              "type": "string",
              "value": "cfdb383951144f56a5198869636ccd17"
            },
            {
              "id": "cfg-4",
              "name": "whatsappDono",
              "type": "string",
              "value": "5561991958153"
            },
            {
              "id": "cfg-8",
              "name": "evolutionInstance",
              "type": "string",
              "value": "atendimento"
            },
            {
              "id": "cfg-5",
              "name": "metricoolToken",
              "type": "string",
              "value": ""
            },
            {
              "id": "cfg-6",
              "name": "metricoolUserId",
              "type": "string",
              "value": ""
            },
            {
              "id": "cfg-7",
              "name": "metricoolBlogId",
              "type": "string",
              "value": ""
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "config-fabrica",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', input: [{ role: 'system', content: \"Você prepara roteiros para a Fábrica de Vídeos — vídeos verticais com apresentador virtual e voz sintética (HeyGen).\\nVocê recebe um bloco de roteiro de Reels/Shorts: falas numeradas (Fala 1, Fala 2...) e, às vezes, uma legenda após \\\"📝 Legenda:\\\".\\n\\nProduza:\\n1. script — as falas unidas em um texto corrido de narração, na ordem, exatamente como devem ser faladas. Aplique direção por pontuação: reticências (...) para pausas, travessão (—) para mudança de tom, vírgulas para ritmo. PROIBIDO: tags de emoção (ex.: [excited]), emojis, hashtags, títulos, marcações como \\\"Fala 1:\\\" e descrições de cena. A legenda embutida do vídeo é gerada palavra a palavra deste texto — escreva somente o que deve ser dito.\\n2. legenda — o texto que vem após \\\"📝 Legenda:\\\". Se o bloco não tiver legenda, crie uma curta e natural (2 a 3 frases) com 3 a 5 hashtags.\\n3. titulo — título interno curto (máximo 6 palavras, sem emojis) para identificar o vídeo.\\n\\nSe o texto recebido não parecer um roteiro, use-o assim mesmo como base do script, sem inventar conteúdo novo.\" }, { role: 'user', content: String($('Entrada').first().json.roteiro || '') }], text: { format: { type: 'json_schema', name: 'fabrica_videos', strict: true, schema: { type: 'object', additionalProperties: false, required: ['script', 'legenda', 'titulo'], properties: { script: { type: 'string' }, legenda: { type: 'string' }, titulo: { type: 'string' } } } } } }) }}",
        "options": {}
      },
      "id": "prepara-roteiro",
      "name": "Prepara roteiro (IA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "SUBSTITUA_PELO_ID_DA_CREDENCIAL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrai o JSON da Responses API (itens type=message > content > text)\nconst r = $input.first().json;\nconst bruto = (r.output || [])\n  .flatMap((item) => item.content || [])\n  .map((c) => c.text || '')\n  .join('').trim();\nlet script = bruto; let legenda = ''; let titulo = 'Video da Fabrica';\ntry { const p = JSON.parse(bruto); script = String(p.script || bruto); legenda = String(p.legenda || ''); titulo = String(p.titulo || titulo); } catch {}\nif (!script) throw new Error('Roteiro vazio — cole o bloco completo no formulario.');\nif (!legenda) legenda = 'Video novo no ar!';\nreturn [{ json: { script, legenda, titulo } }];"
      },
      "id": "extrai-resultado",
      "name": "Extrai resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v3/videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Config').first().json.heygenApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'avatar', avatar_id: $('Config').first().json.heygenAvatarId, script: $json.script, voice_id: $('Config').first().json.heygenVoiceId, aspect_ratio: '9:16', resolution: '1080p', fit: 'cover', caption: { file_format: 'srt', style: 'default' }, title: 'Fabrica: ' + $json.titulo, callback_url: $execution.resumeUrl }) }}",
        "options": {}
      },
      "id": "cria-video",
      "name": "Cria video HeyGen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        140
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "limitType": "afterTimeInterval",
        "resumeAmount": 25,
        "resumeUnit": "minutes",
        "options": {}
      },
      "id": "espera-render",
      "name": "Espera o render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        60
      ],
      "webhookId": "fabrica-espera-render"
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v3/videos/{{ $('Cria video HeyGen').first().json.data.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Config').first().json.heygenApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "consulta-status",
      "name": "Consulta status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        60
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pronto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "falhou"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "renderizando"
        }
      },
      "id": "status-video",
      "name": "Status do video",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1960,
        60
      ]
    },
    {
      "parameters": {
        "amount": 90,
        "unit": "seconds"
      },
      "id": "aguarda-mais",
      "name": "Aguarda mais",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        -140
      ],
      "webhookId": "fabrica-aguarda-mais"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Consulta status').first().json.data || {};\nconst r = $('Extrai resultado').first().json;\nconst videoUrl = d.captioned_video_url || d.video_url || '';\nif (!videoUrl) throw new Error('HeyGen concluiu sem URL de video.');\n// Rascunho do Metricool entra para amanha as 10h — o aluno reagenda no planner\nconst alvo = new Date(Date.now() + 24 * 60 * 60 * 1000);\nconst pad = (n) => String(n).padStart(2, '0');\nconst dataAgendamento = alvo.getFullYear() + '-' + pad(alvo.getMonth() + 1) + '-' + pad(alvo.getDate()) + 'T10:00:00';\nreturn [{ json: { videoUrl, legenda: r.legenda, titulo: r.titulo, dataAgendamento } }];"
      },
      "id": "prepara-entrega",
      "name": "Prepara entrega",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        40
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table if not exists videos_gerados (id serial primary key, titulo text, legenda text, video_url text, criado_em timestamptz default now());\ninsert into videos_gerados (titulo, legenda, video_url) values ($1, $2, $3);",
        "options": {
          "queryReplacement": "={{ [$json.titulo, $json.legenda, $json.videoUrl] }}"
        }
      },
      "id": "registra-banco",
      "name": "Registra no banco",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2400,
        40
      ],
      "credentials": {
        "postgres": {
          "id": "SUBSTITUA_PELO_ID_DA_CREDENCIAL",
          "name": "Postgres negocio"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.axnconsult.com/message/sendMedia/{{ $('Config').first().json.evolutionInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "evo_api_863ffa80e3c558c442d15f6d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Config').first().json.whatsappDono, mediatype: 'video', mimetype: 'video/mp4', fileName: 'fabrica-video.mp4', caption: '🎬 Video pronto: ' + $('Prepara entrega').first().json.titulo, media: $('Prepara entrega').first().json.videoUrl }) }}",
        "options": {}
      },
      "id": "envia-video",
      "name": "Envia video no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.axnconsult.com/message/sendText/{{ $('Config').first().json.evolutionInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "evo_api_863ffa80e3c558c442d15f6d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Config').first().json.whatsappDono, text: '📝 Legenda pronta — copie e cole ao publicar:\\n\\n' + $('Prepara entrega').first().json.legenda }) }}",
        "options": {}
      },
      "id": "envia-legenda",
      "name": "Envia legenda no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-metricool",
              "leftValue": "={{ $('Config').first().json.metricoolToken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tem-metricool",
      "name": "Metricool configurado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3060,
        40
      ]
    },
    {
      "parameters": {
        "url": "https://app.metricool.com/api/actions/normalize/image/url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Prepara entrega').first().json.videoUrl }}"
            },
            {
              "name": "userId",
              "value": "={{ $('Config').first().json.metricoolUserId }}"
            },
            {
              "name": "blogId",
              "value": "={{ $('Config').first().json.metricoolBlogId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Mc-Auth",
              "value": "={{ $('Config').first().json.metricoolToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "copia-metricool",
      "name": "Copia video para o Metricool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.metricool.com/api/v2/scheduler/posts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $('Config').first().json.metricoolUserId }}"
            },
            {
              "name": "blogId",
              "value": "={{ $('Config').first().json.metricoolBlogId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Mc-Auth",
              "value": "={{ $('Config').first().json.metricoolToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ publicationDate: { dateTime: $('Prepara entrega').first().json.dataAgendamento, timezone: 'America/Sao_Paulo' }, text: $('Prepara entrega').first().json.legenda, providers: [{ network: 'instagram' }], media: [ $json.url || ($json.data && $json.data.url) || (typeof $json.data === 'string' ? $json.data : '') ], autoPublish: false, draft: true, saveExternalMediaFiles: false, shortener: false }) }}",
        "options": {}
      },
      "id": "rascunho-metricool",
      "name": "Cria rascunho no Metricool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.axnconsult.com/message/sendText/{{ $('Config').first().json.evolutionInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "evo_api_863ffa80e3c558c442d15f6d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Config').first().json.whatsappDono, text: '🗓️ Tambem criei o rascunho no Metricool (amanha, 10h). Abra o planner para revisar, ajustar a data e confirmar.' }) }}",
        "options": {}
      },
      "id": "avisa-rascunho",
      "name": "Avisa rascunho no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.axnconsult.com/message/sendText/{{ $('Config').first().json.evolutionInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "evo_api_863ffa80e3c558c442d15f6d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Config').first().json.whatsappDono, text: '⚠️ A Fabrica nao conseguiu gerar este video. Confira o credito de API no HeyGen (app.heygen.com → Billing → API) e envie o roteiro de novo. Detalhe: ' + JSON.stringify(($json.data && $json.data.error) || $json.error || $json.message || 'sem detalhe').slice(0, 300) }) }}",
        "options": {}
      },
      "id": "avisa-problema",
      "name": "Avisa problema no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        320
      ]
    }
  ],
  "connections": {
    "Formulario Fabrica": {
      "main": [
        [
          {
            "node": "Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Painel": {
      "main": [
        [
          {
            "node": "Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Prepara roteiro (IA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara roteiro (IA)": {
      "main": [
        [
          {
            "node": "Extrai resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai resultado": {
      "main": [
        [
          {
            "node": "Cria video HeyGen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria video HeyGen": {
      "main": [
        [
          {
            "node": "Espera o render",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisa problema no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera o render": {
      "main": [
        [
          {
            "node": "Consulta status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta status": {
      "main": [
        [
          {
            "node": "Status do video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status do video": {
      "main": [
        [
          {
            "node": "Prepara entrega",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisa problema no WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguarda mais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda mais": {
      "main": [
        [
          {
            "node": "Consulta status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara entrega": {
      "main": [
        [
          {
            "node": "Registra no banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registra no banco": {
      "main": [
        [
          {
            "node": "Envia video no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia video no WhatsApp": {
      "main": [
        [
          {
            "node": "Envia legenda no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia legenda no WhatsApp": {
      "main": [
        [
          {
            "node": "Metricool configurado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metricool configurado?": {
      "main": [
        [
          {
            "node": "Copia video para o Metricool",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Copia video para o Metricool": {
      "main": [
        [
          {
            "node": "Cria rascunho no Metricool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria rascunho no Metricool": {
      "main": [
        [
          {
            "node": "Avisa rascunho no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}