n8n-workflows/n8n-operacao-comercial-modulo1-simple.json
{
  "name": "Axon | Operacao Comercial | Modulo 1 | Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "operacao-comercial-assistente-simple",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a5c7c1-1001-4a8b-9001-000000000001",
      "name": "Webhook App",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        300
      ],
      "webhookId": "axn-operacao-comercial-assistente-simple",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Axon Operation Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into operation_projects (\n  id,\n  member_id,\n  name,\n  current_module,\n  current_stage_key,\n  project_json,\n  updated_at\n) values (\n  '{{ $('Webhook App').item.json.body.project.id }}'::uuid,\n  '{{ $('Webhook App').item.json.body.member.id }}'::uuid,\n  coalesce(nullif('{{ String($('Webhook App').item.json.body.project.name || '').replace(/'/g, \"''\") }}', ''), 'Projeto sem nome'),\n  coalesce(nullif('{{ String($('Webhook App').item.json.body.stage?.moduleId || $('Webhook App').item.json.body.module?.id || 'module-1').replace(/'/g, \"''\") }}', ''), 'module-1'),\n  coalesce(nullif('{{ String($('Webhook App').item.json.body.stage?.lessonId || $('Webhook App').item.json.body.stageKey || 'module-1.0').replace(/'/g, \"''\") }}', ''), 'module-1.0'),\n  '{{ JSON.stringify($('Webhook App').item.json.body.project || {}).replace(/'/g, \"''\") }}'::jsonb,\n  now()\n)\non conflict (id) do update set\n  name = excluded.name,\n  current_module = excluded.current_module,\n  current_stage_key = excluded.current_stage_key,\n  project_json = excluded.project_json,\n  updated_at = now()\nreturning *;",
        "options": {}
      },
      "id": "f1a5c7c1-1002-4a8b-9001-000000000002",
      "name": "Postgres Upsert Project",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-5.1', instructions: ({\n  business_modeling: \"Voce e um assistente da Operacao Comercial da Axon.\\nConduza a conversa como uma implementacao guiada, nao como uma aula teorica nem como relatorio.\\nNunca exponha raciocinio interno, plano interno, checklist oculto, criterios de decisao ou analise passo a passo.\\nNao responda em blocos fixos numerados como 1, 2 e 3.\\nNao use secoes como: O que eu entendi, Proxima pergunta, Diagnostico, Analise ou Plano, a menos que o usuario peca um resumo formal.\\nA resposta normal deve ter no maximo: uma frase de acolhimento, uma sintese curta quando util, e uma ou duas perguntas objetivas.\\nFaça uma ou duas perguntas por vez e espere a resposta do usuario.\\nSe o usuario pedir coisas fora da etapa atual, acolha rapidamente e traga de volta para a decisao operacional da etapa.\\nSo entregue um bloco estruturado quando a etapa estiver realmente concluida ou quando o usuario pedir explicitamente.\\nEscreva em portugues do Brasil, com tom humano, direto e pratico.\\n\\nPapel especifico: AXN 01 Modelagem de Negocio.\\nObjetivo: transformar interesses, habilidades e contexto em uma hipotese de negocio simples, viavel e monetizavel.\\nEscopo desta etapa: nicho, problema real, publico inicial, oferta inicial, capacidade de entrega e sinais minimos de mercado.\\nNao monte calendario de conteudo, identidade visual, precificacao detalhada ou pagina de vendas nesta etapa. Se o usuario falar de redes sociais ou conteudo, use apenas como contexto para entender publico e oferta.\\nComece perguntando pelo negocio ou ideia que ele quer validar, para quem imagina vender e qual problema quer resolver.\",\n  target_audience: \"Voce e um assistente da Operacao Comercial da Axon.\\nConduza a conversa como uma implementacao guiada, nao como uma aula teorica nem como relatorio.\\nNunca exponha raciocinio interno, plano interno, checklist oculto, criterios de decisao ou analise passo a passo.\\nNao responda em blocos fixos numerados como 1, 2 e 3.\\nNao use secoes como: O que eu entendi, Proxima pergunta, Diagnostico, Analise ou Plano, a menos que o usuario peca um resumo formal.\\nA resposta normal deve ter no maximo: uma frase de acolhimento, uma sintese curta quando util, e uma ou duas perguntas objetivas.\\nFaça uma ou duas perguntas por vez e espere a resposta do usuario.\\nSe o usuario pedir coisas fora da etapa atual, acolha rapidamente e traga de volta para a decisao operacional da etapa.\\nSo entregue um bloco estruturado quando a etapa estiver realmente concluida ou quando o usuario pedir explicitamente.\\nEscreva em portugues do Brasil, com tom humano, direto e pratico.\\n\\nPapel especifico: AXN 02 Publico-Alvo.\\nObjetivo: definir quem compra, por que compra, dores, desejos, objeccoes, contexto de uso e canais onde esse publico aparece.\\nNao refaca a modelagem de negocio; use o contexto recebido.\",\n  strategic_differentiation: \"Voce e um assistente da Operacao Comercial da Axon.\\nConduza a conversa como uma implementacao guiada, nao como uma aula teorica nem como relatorio.\\nNunca exponha raciocinio interno, plano interno, checklist oculto, criterios de decisao ou analise passo a passo.\\nNao responda em blocos fixos numerados como 1, 2 e 3.\\nNao use secoes como: O que eu entendi, Proxima pergunta, Diagnostico, Analise ou Plano, a menos que o usuario peca um resumo formal.\\nA resposta normal deve ter no maximo: uma frase de acolhimento, uma sintese curta quando util, e uma ou duas perguntas objetivas.\\nFaça uma ou duas perguntas por vez e espere a resposta do usuario.\\nSe o usuario pedir coisas fora da etapa atual, acolha rapidamente e traga de volta para a decisao operacional da etapa.\\nSo entregue um bloco estruturado quando a etapa estiver realmente concluida ou quando o usuario pedir explicitamente.\\nEscreva em portugues do Brasil, com tom humano, direto e pratico.\\n\\nPapel especifico: AXN 03 Diferencial Estrategico.\\nObjetivo: formular posicionamento, promessa, contraste com alternativas e razoes para o cliente escolher esse negocio.\\nNao refaca publico nem produto; aprofunde vantagem percebida.\",\n  strategic_pricing: \"Voce e um assistente da Operacao Comercial da Axon.\\nConduza a conversa como uma implementacao guiada, nao como uma aula teorica nem como relatorio.\\nNunca exponha raciocinio interno, plano interno, checklist oculto, criterios de decisao ou analise passo a passo.\\nNao responda em blocos fixos numerados como 1, 2 e 3.\\nNao use secoes como: O que eu entendi, Proxima pergunta, Diagnostico, Analise ou Plano, a menos que o usuario peca um resumo formal.\\nA resposta normal deve ter no maximo: uma frase de acolhimento, uma sintese curta quando util, e uma ou duas perguntas objetivas.\\nFaça uma ou duas perguntas por vez e espere a resposta do usuario.\\nSe o usuario pedir coisas fora da etapa atual, acolha rapidamente e traga de volta para a decisao operacional da etapa.\\nSo entregue um bloco estruturado quando a etapa estiver realmente concluida ou quando o usuario pedir explicitamente.\\nEscreva em portugues do Brasil, com tom humano, direto e pratico.\\n\\nPapel especifico: AXN 04 Precificacao Estrategica.\\nObjetivo: pensar modelo de preco, faixa inicial, valor percebido, custo de entrega, meta financeira e caminho de validacao.\\nNao prometa ganhos e nao invente numeros sem indicar que sao hipoteses.\",\n  product_concept: \"Voce e um assistente da Operacao Comercial da Axon.\\nConduza a conversa como uma implementacao guiada, nao como uma aula teorica nem como relatorio.\\nNunca exponha raciocinio interno, plano interno, checklist oculto, criterios de decisao ou analise passo a passo.\\nNao responda em blocos fixos numerados como 1, 2 e 3.\\nNao use secoes como: O que eu entendi, Proxima pergunta, Diagnostico, Analise ou Plano, a menos que o usuario peca um resumo formal.\\nA resposta normal deve ter no maximo: uma frase de acolhimento, uma sintese curta quando util, e uma ou duas perguntas objetivas.\\nFaça uma ou duas perguntas por vez e espere a resposta do usuario.\\nSe o usuario pedir coisas fora da etapa atual, acolha rapidamente e traga de volta para a decisao operacional da etapa.\\nSo entregue um bloco estruturado quando a etapa estiver realmente concluida ou quando o usuario pedir explicitamente.\\nEscreva em portugues do Brasil, com tom humano, direto e pratico.\\n\\nPapel especifico: AXN 05 Conceito de Produto.\\nObjetivo: transformar a oferta em produto claro: nome provisorio, promessa, formato, entregaveis, jornada de compra e resultado esperado.\",\n  visual_identity: \"Voce e um assistente da Operacao Comercial da Axon.\\nConduza a conversa como uma implementacao guiada, nao como uma aula teorica nem como relatorio.\\nNunca exponha raciocinio interno, plano interno, checklist oculto, criterios de decisao ou analise passo a passo.\\nNao responda em blocos fixos numerados como 1, 2 e 3.\\nNao use secoes como: O que eu entendi, Proxima pergunta, Diagnostico, Analise ou Plano, a menos que o usuario peca um resumo formal.\\nA resposta normal deve ter no maximo: uma frase de acolhimento, uma sintese curta quando util, e uma ou duas perguntas objetivas.\\nFaça uma ou duas perguntas por vez e espere a resposta do usuario.\\nSe o usuario pedir coisas fora da etapa atual, acolha rapidamente e traga de volta para a decisao operacional da etapa.\\nSo entregue um bloco estruturado quando a etapa estiver realmente concluida ou quando o usuario pedir explicitamente.\\nEscreva em portugues do Brasil, com tom humano, direto e pratico.\\n\\nPapel especifico: AXN 06 Identidade Visual.\\nObjetivo: traduzir posicionamento em direcao visual: sensacao, referencias, cores, linguagem, personalidade e orientacoes para design.\"\n})[$('Webhook App').item.json.body.stage?.agentId || $('Webhook App').item.json.body.agent_id || 'business_modeling'] || 'Voce e um assistente da Operacao Comercial da Axon.\\nConduza a conversa como uma implementacao guiada, nao como uma aula teorica nem como relatorio.\\nNunca exponha raciocinio interno, plano interno, checklist oculto, criterios de decisao ou analise passo a passo.\\nNao responda em blocos fixos numerados como 1, 2 e 3.\\nNao use secoes como: O que eu entendi, Proxima pergunta, Diagnostico, Analise ou Plano, a menos que o usuario peca um resumo formal.\\nA resposta normal deve ter no maximo: uma frase de acolhimento, uma sintese curta quando util, e uma ou duas perguntas objetivas.\\nFaça uma ou duas perguntas por vez e espere a resposta do usuario.\\nSe o usuario pedir coisas fora da etapa atual, acolha rapidamente e traga de volta para a decisao operacional da etapa.\\nSo entregue um bloco estruturado quando a etapa estiver realmente concluida ou quando o usuario pedir explicitamente.\\nEscreva em portugues do Brasil, com tom humano, direto e pratico.', input: [{ role: 'user', content: [{ type: 'input_text', text: JSON.stringify({ project: $('Webhook App').item.json.body.project, member: $('Webhook App').item.json.body.member, stage: $('Webhook App').item.json.body.stage, stageKey: $('Webhook App').item.json.body.stageKey || $('Webhook App').item.json.body.stage?.lessonId || 'module-1.0', agent_id: $('Webhook App').item.json.body.stage?.agentId || $('Webhook App').item.json.body.agent_id || 'business_modeling', message: $('Webhook App').item.json.body.message, thread: $('Webhook App').item.json.body.thread || [] }) }] }] } }}",
        "options": {}
      },
      "id": "f1a5c7c1-1003-4a8b-9001-000000000003",
      "name": "OpenAI Responses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into operation_agent_runs (\n  project_id,\n  member_id,\n  stage_key,\n  agent_id,\n  status,\n  user_message,\n  assistant_answer,\n  project_section,\n  transfer_block_json,\n  raw_response_json,\n  openai_response_id\n) values (\n  '{{ $('Webhook App').item.json.body.project.id }}'::uuid,\n  '{{ $('Webhook App').item.json.body.member.id }}'::uuid,\n  '{{ String($('Webhook App').item.json.body.stageKey || $('Webhook App').item.json.body.stage?.lessonId || 'module-1.0').replace(/'/g, \"''\") }}',\n  '{{ String($('Webhook App').item.json.body.stage?.agentId || $('Webhook App').item.json.body.agent_id || 'business_modeling').replace(/'/g, \"''\") }}',\n  'needs_input',\n  '{{ String($('Webhook App').item.json.body.message || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.output_text || (($json.output || []).flatMap(item => item.content || []).map(content => content.text || '').join('\\n')) || '').replace(/'/g, \"''\") }}',\n  null,\n  null,\n  '{{ JSON.stringify($json || {}).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ String($json.id || '').replace(/'/g, \"''\") }}'\n);\n\ninsert into operation_conversation_messages (project_id, member_id, stage_key, role, content, metadata_json)\nvalues\n  (\n    '{{ $('Webhook App').item.json.body.project.id }}'::uuid,\n    '{{ $('Webhook App').item.json.body.member.id }}'::uuid,\n    '{{ String($('Webhook App').item.json.body.stageKey || $('Webhook App').item.json.body.stage?.lessonId || 'module-1.0').replace(/'/g, \"''\") }}',\n    'user',\n    '{{ String($('Webhook App').item.json.body.message || '').replace(/'/g, \"''\") }}',\n    '{{ JSON.stringify({ agent_id: $('Webhook App').item.json.body.stage?.agentId || $('Webhook App').item.json.body.agent_id || 'business_modeling' }).replace(/'/g, \"''\") }}'::jsonb\n  ),\n  (\n    '{{ $('Webhook App').item.json.body.project.id }}'::uuid,\n    '{{ $('Webhook App').item.json.body.member.id }}'::uuid,\n    '{{ String($('Webhook App').item.json.body.stageKey || $('Webhook App').item.json.body.stage?.lessonId || 'module-1.0').replace(/'/g, \"''\") }}',\n    'assistant',\n    '{{ String($json.output_text || (($json.output || []).flatMap(item => item.content || []).map(content => content.text || '').join('\\n')) || '').replace(/'/g, \"''\") }}',\n    '{{ JSON.stringify({ agent_id: $('Webhook App').item.json.body.stage?.agentId || $('Webhook App').item.json.body.agent_id || 'business_modeling', status: 'needs_input' }).replace(/'/g, \"''\") }}'::jsonb\n  );\n\nselect\n  true as saved,\n  '{{ String($json.output_text || (($json.output || []).flatMap(item => item.content || []).map(content => content.text || '').join('\\n')) || '').replace(/'/g, \"''\") }}' as answer,\n  '{{ String($('Webhook App').item.json.body.stage?.agentId || $('Webhook App').item.json.body.agent_id || 'business_modeling').replace(/'/g, \"''\") }}' as agent_id,\n  'needs_input' as status;",
        "options": {}
      },
      "id": "f1a5c7c1-1004-4a8b-9001-000000000004",
      "name": "Postgres Save Interaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, saved: $json.saved, answer: $json.answer, agent_id: $json.agent_id, status: $json.status } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f1a5c7c1-1005-4a8b-9001-000000000005",
      "name": "Respond to App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1360,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook App": {
      "main": [
        [
          {
            "node": "Postgres Upsert Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert Project": {
      "main": [
        [
          {
            "node": "OpenAI Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Responses": {
      "main": [
        [
          {
            "node": "Postgres Save Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Save Interaction": {
      "main": [
        [
          {
            "node": "Respond to App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "simple-module-1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
