n8n-workflows/n8n-site-consultoria.json
{
  "name": "Axon | site-consultoria",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site-consultoria",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3d31d4ad-1120-4c80-b0da-43c0ec220001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "axn-site-consultoria"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\nconst errors = [];\n\nif (!body.name) errors.push('name');\nif (!body.email) errors.push('email');\nif (!body.company) errors.push('company');\nif (!body.acquisition) errors.push('acquisition');\nif (!body.bottleneck) errors.push('bottleneck');\nif (body.consent !== 'granted') errors.push('consent');\n\nif (errors.length) {\n  return [\n    {\n      json: {\n        valid: false,\n        statusCode: 400,\n        responseBodyJson: JSON.stringify({\n          ok: false,\n          error: `Campos obrigatórios ausentes ou inválidos: ${errors.join(', ')}`\n        })\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      valid: true,\n      body\n    }\n  }\n];"
      },
      "id": "3d31d4ad-1120-4c80-b0da-43c0ec220002",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function sqlText(value) {\n  if (value === undefined || value === null || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction sqlJson(value, fallback = {}) {\n  const safeValue = value === undefined || value === null ? fallback : value;\n  return `'${JSON.stringify(safeValue).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nfunction sqlTimestamp(value) {\n  if (!value) return 'now()';\n  return `${sqlText(value)}::timestamptz`;\n}\n\nif (!$json.valid) {\n  return [\n    {\n      json: {\n        query: `select ${$json.statusCode} as status_code, ${sqlText($json.responseBodyJson)}::json as response_body;`\n      }\n    }\n  ];\n}\n\nconst body = $json.body;\n\nconst query = `\nwith inserted as (\n  insert into consultoria_intake (\n    created_at,\n    name,\n    email,\n    company,\n    company_size,\n    acquisition,\n    bottleneck,\n    message,\n    consent,\n    consent_timestamp,\n    legal_notice_version,\n    tracking_json,\n    raw_payload_json\n  ) values (\n    ${sqlTimestamp(body.createdAt)},\n    ${sqlText(body.name)},\n    ${sqlText(body.email)},\n    ${sqlText(body.company)},\n    ${sqlText(body.company_size)},\n    ${sqlText(body.acquisition)},\n    ${sqlText(body.bottleneck)},\n    ${sqlText(body.message)},\n    ${sqlText(body.consent)},\n    ${sqlTimestamp(body.consentTimestamp)},\n    ${sqlText(body.legalNoticeVersion)},\n    ${sqlJson(body.tracking)},\n    ${sqlJson(body)}\n  )\n  returning id\n)\nselect 200 as status_code, '{\"ok\":true}'::json as response_body from inserted;\n`;\n\nreturn [{ json: { query } }];"
      },
      "id": "3d31d4ad-1120-4c80-b0da-43c0ec220003",
      "name": "Map SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "3d31d4ad-1120-4c80-b0da-43c0ec220004",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response_body }}",
        "options": {
          "responseCode": "={{ $json.status_code }}"
        }
      },
      "id": "3d31d4ad-1120-4c80-b0da-43c0ec220005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1300,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Map SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map SQL": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23fe2d2b-1d72-4cd8-8120-43c0ec220001",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
